@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Quicksand normal font style. */
  @font-face {
    font-family: "Quicksand";
    src: url("./../public//fonts/Quicksand-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }
  /* Quicksand semibold font style. */
  @font-face {
    font-family: "Quicksand";
    src: url("./../public/fonts/Quicksand-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
  }
  /* Quicksand bold font style. */
  @font-face {
    font-family: "Quicksand";
    src: url("./../public/fonts/Quicksand-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }

  /* Montserrat font style. */
  @font-face {
    font-family: "Montserrat";
    src: url("./../public/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }

  /* Caveat font style. */
  @font-face {
    font-family: "Caveat";
    src: url("./../public/fonts/Caveat-Medium.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }

  /* Playwright font style. */
  @font-face {
    font-family: "Playwrite";
    src: url("./../public/fonts/PlaywriteDEGrund-Regular.ttf")
      format("truetype");
    font-weight: 700;
    font-display: swap;
  }

  :root {
    --width: min(75ch, calc(100% - 0.5rem));

    /* background colors */
    --custom-200: #e2e8f0;
    --custom-300: #cbd5e1;
    --custom-400: #94a3b8;
    --custom-500: #64748b;
    --custom-600: #475569;
    --custom-700: #334155;
    --custom-800: #1e293b;
    --custom-900: #0f172a;
    --custom-950: #020617;

    --bg-clr: #040d12;
    --primary: #003049;
    --secondary: #669bbc;
    --accent: #219ebc;
    --bright: #780000;
    --light: #c1121f;

    /* --mobile-menu-clr: #70669a; */
  }

  * {
    @apply m-0 select-none scroll-smooth p-0 focus-visible:outline-none;
  }

  body {
    @apply relative min-h-screen bg-300 font-quicksand text-lg text-900 dark:bg-900 dark:text-400;
  }

  section {
    @apply px-2 md:px-12;
  }
}

@layer components {
  p {
    @apply leading-[2rem];
  }
  h1 {
    @apply text-4xl font-extrabold;
  }
  button,
  a {
    @apply focus-visible:scale-105 focus-visible:transform focus-visible:opacity-90 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:transition-all focus-visible:duration-500;
  }
}
